
@font-face {
  font-family: "Roboto";
  src: url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Semilight";
  src: url("fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Semibold";
  src: url("fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto Bold";
  src: url("fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Fabric MDL2";
  src: url("fonts/Fabric-MDL2/latest.eot");
  src: url("fonts/Fabric-MDL2/latest.eot?") format("embedded-opentype"), url("fonts/Fabric-MDL2/latest.woff") format("woff"), url("fonts/Fabric-MDL2/latest.ttf") format("truetype"), url("fonts/Fabric-MDL2/latest.svg#web") format("svg");
  font-style: normal;
  font-weight: normal;
}


