

.content {
    margin-top: 40px;
}

.content-sidebar {
    margin-top: 40px;
    margin-left: 256px;
}

.w3-sidebar {
    width: 256px;
    font-family: "Roboto Semibold", sans-serif;
    font-size: 15px;
}

.logo {
    float:left; 
    margin-top:-4px;
    margin-bottom:-4px;
}

img {
    margin-bottom: 0px; 
    border-style: none;
}
h1, h2, h3, h4 {
    font-family: "Roboto Semibold", sans-serif;
}

body, p, th, div, span, input, button, select {
    font-family: "Roboto Semilight", sans-serif;
}